In [1]:
import pandas as pd
import numpy as np

In [4]:
weather_data={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,np.nan,31],
    'windspeed':[6,7,2,7,4,np.nan],
    'event':['rain','sunny','snow','snow','rain','sunny']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   rain
1  1/2/2017         35.0        7.0  sunny
2  1/3/2017         28.0        2.0   snow
3  1/4/2017         24.0        7.0   snow
4  1/5/2017          NaN        4.0   rain
5  1/6/2017         31.0        NaN  sunny